<h3>About Me...</h3>
<address>
  <strong>Natasha Ansari</strong><br>
  123 Main Street<br>
  Asheville, NC 28801<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890<br>
  <a href="mailto:#">natashayansari@students.abtech.edu</a>
</address>
<%= link_to 'Back', chores_path %>
